---
import '@fontsource/noto-sans-tc';
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Katz Engineering | Katz Engineering is an engineering firm in New York City specializing in Special and Progress Inspections, NYC Energy Code Progress Inspections and Asbestos Investigation.">
  <main>
    <h1>About Katz Engineering</h1>
    <h2>Who We Are</h2>
    <div class="image-with-text">
        <img class="image-with-text__image" src="/yuri-katz-engineering.jpg">
        <p class="image-with-text__text">Established in 1993, Katz Engineering (formerly Katz Associates) is a privately owned, full-service special inspections firm. We are headquartered in New York City and are licensed in New York and New Jersey.<br>
Katz Engineering was formed in order to meet the growing need for superior engineering services in the face of today’s fast-paced and complex building industry. On June 30, 2007, Mayor Bloomberg signed a new provision into law: New Section §101-06 of Title 1 of the Rules of the City of New York. This stipulates that professionals with the prescribed qualifications must perform the required inspections and tests, including mechanical, sprinkler, firestop, fire-resistant related construction, envelope-related construction, sprayed fire resistant materials, fuel oil piping, and energy code (TRB) special inspections. At Katz Engineering, we possess the necessary qualifications to perform such services and have 25-plus years of experience that ensures exceptional results.<br>
Our experienced professionals – all recognized experts in their areas of specialty – are capable of handling projects of a wide variety of scope and size. The company principal, supporting staff, and computer capabilities ensure that assignments are executed in an efficient, timely, and professional manner.<br>
Katz Engineering gives careful attention to detail and completeness for each contract document. The company’s principal leads each assignment to guarantee project quality and client satisfaction. Our project team works closely with clients to meet budgets, completion dates, and quality standards.</p>

</div>
<blockquote>
    <i>We are dedicated to bringing the highest standards of quality to each project. Our mission is to provide the vision, design strategy and expertise to produce effective, efficient and reliable design systems. We guarantee that all of our assignments will satisfy defined schedules and budgets.</i>
</quote>

<div class="four-columns">
    <div class="four-columns__column"><h3>Education</h3>
    <li>M.S.C.E., Institute of Civil Engineering, Kiev, Ukraine</li>
    </div>
    <div class="four-columns__column"><h3>Professional Affiliations</h3>
    <li>American Society of Sanitary Engineering (Past Chapter President)</li>
    <li>American Society of Plumbing Engineers</li>
    <li>National Society of Professional Engineers</li>
    <li>National Fire Protection Association</li>
    <li>Society of Fire Protection Engineers</li>
    <li>ASHRAE</li>
    </div>
    <div class="four-columns__column"><h3>Related Activites</h3>
    <li>Lecturer, New York University School of Continuing Education, A.R.E. preparation course.</li>
    </div>
    <div class="four-columns__column"><h3>Registration</h3>
    <li>New York and New Jersey.</li>
    </div>
</div>

<br><br>
    <h2>What We Do</h2>
    <p>Katz Engineering is devoted to servicing the special inspections industry. As an engineering design firm, our professionals possess specialized skills to evaluate existing systems as well as new construction, modification and renovation projects. Our services include, but are not limited to, mechanical, sprinkler, firestop, fire-resistant and envelope-related construction, sprayed fire resistant materials, fuel oil piping, fire alarm, emergency lighting, and energy code (TR8) inspections.<br><br>
At Katz Engineering we are committed to providing our clients with personal service and adhere to project schedules and budgets. Our professionals bring a depth of understanding and a strong commitment to each case in order to ensure outstanding service and efficiency. Katz Engineering promises to continue to work with our clients to solve any unforeseen problems that might arise during this phase of a project. Our unique formula of attention to detail and our commitment to quality, personalized service, technical expertise, and design sustainability wins us business and professional respect.<br><br>
We take pride in our history of administering successful and timely special inspections for a wide range of building projects. As we continue to grow, we remain highly dedicated to our core values: expert consulting, personalized service, and the highest standards of quality<br><br>
We look forward to working with you.

</p>
  </main>
</Layout>

<style lang="scss">
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;

    h1 {
        font-size: 47px;
        font-weight: 700;
        margin: 0;
        padding: 2rem 0 1rem;
    }

    blockquote {
        padding-block: 2rem;
        line-height: 160%;
    }

    .image-with-text {
        display: grid;
        grid-template-columns: 280px 1fr;

        // tablet
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        .image-with-text__image {
            width: 100%;
            height: auto;
            @media (max-width: 1024px) {
                margin: 10px auto 40px;
                max-width: fit-content;
            }
        }

        .image-with-text__text {
            font-size: 15px;
            line-height: 1.5;
            margin: 0;
            padding: 0 1rem;
        }
    }
}

.four-columns {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    // tablet
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    // mobile
    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }

    li {
        font-size: 12px;
        letter-spacing: 0;
        text-align: left;
    }
}
</style>
