---
import '@fontsource/noto-sans-tc';
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Katz Engineering | Katz Engineering is an engineering firm in New York City specializing in Special and Progress Inspections, NYC Energy Code Progress Inspections and Asbestos Investigation.">
<main>
    <div class="section-header">
        <div class="section-header__text">
            <div>
                <p><span class="section-header__text--small">Katz Engineering is a </span><br><span class="section-header__text--bold"><b>NYC Special Inspection Agency</b></span><br><span>NYC SIA #000238</span></p>
                <ul>
                    <hr>
                    <li>NYC Asbestos Investigator</li>
                    <li>NYC #141886</li>
                </ul>
            </div>
            <a class="link" href="/aboutkatzenginnering">Learn More</a>
        </div>
        <img src="/slide-katzengineering.jpeg" alt="Katz Engineering Logo" />
    </div>

  </main>
</Layout>

<style lang="scss">
    main {
        max-width: 1440px;
        margin: 0 auto;
    }

    .section-header {
        display: grid;
        grid-template-columns: 1fr 817px;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;

        // tablet
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 0;
        }

        .section-header__text {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 0 28px;
            justify-content: space-between;
        }

        .section-header__text--small {
            font-size: 12px;
            line-height: 38px;
        }

        .section-header__text--bold {
            font-weight: 800;
            line-height: 38px;
        }

        p {
            font-size: 14px;
        }

        hr {
            width: 40px;
            display: inline-block;
            text-align: left;
        }

        img {
            width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            text-align: left;
            color: #333333;
            font-size: 16px;
            line-height: 26px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
            text-transform: capitalize;
        }

        a.link {
            color: #6f070b;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:focus-visible {
                outline: 2px solid #6f070b;
                text-decoration: underline;
                width: fit-content;
            }
        }
    }


</style>

<style>
  :root {
    text-align: center;
  }
  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }
</style>

<script>
    document.getElementById('nav-home').classList.add('active');
</script>
