---
import '@fontsource/noto-sans-tc';
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Katz Engineering | Katz Engineering is an engineering firm in New York City specializing in Special and Progress Inspections, NYC Energy Code Progress Inspections and Asbestos Investigation.">
  <main>
    <h1>Special Inspections – NYC</h1>
    <p>Mayor Bloomberg signed into effect Section §101-06 of Title 1 of the Rules of the City of New York “Special Inspectors and special inspection agencies” on June 30, 2008. The Rule stipulates that only professionals with the prescribed qualifications can perform the required inspections and tests. The list of qualifications can be found in Appendix A to the Rule.</p>
    <h2>Katz Engineering Inspection Services Include:</h2>

<div class="special-inspection__title">Sprinkler Systems - </span>
<span class="special-inspection__id">BC 1704.23</div>
<div class="special-inspection__title">Standpipe Systems - </span>
<span class="special-inspection__id">BC 1704.24</div>
<div class="special-inspection__title">Fire-Resistant Penetrations And Joints - </span>
<span class="special-inspection__id">BC 1704.27</div>
<div class="special-inspection__title">Mechanical Systems - </span>
<span class="special-inspection__id">BC 1704.16</div>
<div class="special-inspection__title">Smoke Control Systems - </span>
<span class="special-inspection__id">BC 1704.15</div>
<div class="special-inspection__title">Photoluminescent Exit Path Markings - </span>
<span class="special-inspection__id">1 RCNY 1026-01</div>
<div class="special-inspection__title">Fuel-Oil Storage And Fuel-Oil Piping Systems - </span>
<span class="special-inspection__id">BC 1704.17</div>
<div class="special-inspection__title">Fire Alarm Test</div>
<div class="special-inspection__title">Heating Systediv - </span>
<span class="special-inspection__id">BC 1704.25</div>
<div class="special-inspection__title">Mastic And Intumescent Fire-Resistant Coatings - </span>
<span class="special-inspection__id">BC 1704.12</div>
<div class="special-inspection__title">Emergency And Standby Power Systems (Generators) - </span>
<span class="special-inspection__id">BC 1704.31</div>
<div class="special-inspection__title">Small Building Inspections</div>
<div class="special-inspection__title">Mastic And Intumescent Fdiv-Resistant Coatings - </span>
<span class="special-inspection__id">BC 1704.12</div>
<div class="special-inspection__title">Private On-Site Storm Water Drainage Disposal Systems And Detention Facilities Installation - </span>
<span class="special-inspection__id">BC 1704.21.2</div>
<div class="special-inspection__title">Individual On-Site Private Sewage Disposal Systems Installation - </span>
<span class="special-inspection__id">BC 1704.22</div>
<div class="special-inspection__title">Fire-Resistant Rated Construction - </span>
<span class="special-inspection__id">BC 110.3.4</div>
<div class="special-inspection__title">Public Assembly Emergency Lighting - </span>
<span class="special-inspection__id">28-116.2.2</div>
<div class="special-inspection__title">Final Inspections Directive 14 Of 1975, 28-116.2.4.2 - </span>
<span class="special-inspection__id">BC 110.5</div>
  </main>
</Layout>

<style lang="scss">
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;

    h1 {
        font-size: 47px;
        font-weight: 700;
        margin: 0;
        padding: 2rem 0 1rem;
    }

    h2 {
        margin: 60px auto 40px;
    }

    .special-inspection__title {
        font-weight: 800;
        margin-bottom: 18px;
    }

    .special-inspection__id {
        margin-bottom: 8px;
        font-weight: 400;
        color: #242424;
    }
}
</style>
